body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #a3000e;
    color: white;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 4px solid #fbcd5d;
}

.header img{
    width: 70px;
}

.header a {
    color: #fbcd5d;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
}

.header a:hover {
    color: white;
}

.header a.active {
    border: 2px solid white;
    background-color: white;
    color: #8B0000;
}

.header-below {
    text-align: center;
    padding-top: 20px;
    color: #8B0000;
}

.header-below h2{
    font-weight: 600;
    margin-right: 20px;
}

.logout-link {
    float: right;
    padding: 10px 20px;
}

.logout-link img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

.border-container {
    border: 1px solid #d3d3d3; 
    border-radius: 5px;
    margin: auto; /* Center the container */
}

/* Additional styles */
.form-control {
    border: 2px solid #fbcd5d;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

::placeholder {
    color: #a3000e;
    opacity: 1;
}

.form-control, .custom-select {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #fbcd5d;
    border-radius: 20px;
    height: auto;
    padding: 10px;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 10px top 50%;
    background-size: 24px;
}

.custom-select:focus {
    border-color: #fbcd5d;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    color: white;
    background-color: #a3000e;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    width: 200px;
}

.buttons button:hover {
    opacity: 0.8;
}