<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login Page</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>
<body>
    <div class="background">
        <div class="header">
            <h3>SRIVANI TRUST</h3>
        </div>
        <div class="login-box">
            <div class="login-box-content">
                <form id="loginForm" onsubmit="event.preventDefault(); Signin();">
                    <h2>Log In</h2>
                    <div class="user-box">
                        <input type="text" id="Username" placeholder="Username">
                    </div>
                    <div class="user-box">
                        <input type="password" id="Password" placeholder="Password">
                    </div>
                    <div class="captcha">
                        <div class="captcha-container">
                            <canvas id="captcha" width="120" height="30"></canvas>
                            <input type="text" id="captcha-input" placeholder="Enter captcha text">
                            <button id="refresh-captcha" type="button">Refresh Captcha</button>
                        </div>
                    </div>
                    <div class="signup-link">
                        Don't have an account? <a href="/signup">Sign up here</a>
                    </div>
                    <div class="buttons">
                        <button type="button" class="submit-button" onclick="Signin()">Submit</button>
                        <button type="button" class="clear-button">Clear</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="/Static/scripts/login.js">
    </script>
</body>
</html>