<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
<title>New Temple Construction</title>
<link rel="stylesheet" href="/Static/style.css">
</head>
<body>

    <div class="header">
        <img src="/Static/images/TTD-Logo.png">
        <a href="/Landingpage" id="linka" >Bhajanamandiram</a>
        <a href="/Newtemple" id="linkb">New Temple Construction</a>
        <a href="/users" id="linkc" >Users</a>
        <a href="/Reports" id="linkd" >Reports</a>
        <a href="/" id="logout" class="logout-link nav-link p-2">
            <img src="/Static/images/Logout-image.png" alt="Log Out" />
        </a>
    </div>
<div class="header-below">
    <h2>New Temple Construction</h2>
</div>

<div class="container my-4 border-container">
    <div class="info-section py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="info-box">
                <span class="info-title">Request Type:</span>
                <span class="info-content">Bhajana Mandiralu</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info-box">
                <span class="info-title">Request Date:</span>
                <span class="info-content" id="current-date">1/2/2024</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info-box">
                <span class="info-title">State:</span>
                <span class="info-content">Andhra Pradesh</span>
              </div>
            </div>
          </div>
        </div>
        <div class="container my-4">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Phases">Phases <span style="color: red;">*</span></label>
                <select class="form-control custom-select" id="Phases">
                    <option selected disabled>Choose...</option>
                    <option value="Phase-I">Phase -I</option>
                    <option value="Phase-II">Phase -II</option>
                    <option value="Phase-III">Phase - III</option>
                </select>
              </div>
        </div>
        <div class="container my-4">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="District">Name of the District <span style="color: red;">*</span></label>
                <select class="form-control custom-select" id="District" name="District_Name">
                    <option selected disabled>0 selected</option>
                          <option value="Anakapalli">Anakapalli</option>
                          <option value="Ananthapuram">Ananthapuram</option>
                          <option value="Annamayya">Annamayya</option>
                          <option value="Alluri Sitaram Raju District"> Alluri Sitaram Raju District
                          </option>
                          <option value="Bapatla">Bapatla</option>
                          <option value="Chittoor">Chittoor</option>
                          <option value="East Godavari">East Godavari</option>
                          <option value="Eluru">Eluru</option>
                          <option value="Guntur">Guntur</option>
                          <option value="Kakinada">Kakinada</option>
                          <option value="Konaseema">Konaseema</option>
                          <option value="Krishna">Krishna</option>
                          <option value="Kurnool">Kurnool</option>
                          <option value="Parvathipuram Manyam">Parvathipuram Manyam</option>
                          <option value="Nandyal">Nandyal</option>
                          <option value="NTR District">NTR District</option>
                          <option value="Palnadu">Palnadu</option>
                          <option value="Prakasam">Prakasam</option>
                          <option value="SPS Nellore">SPS Nellore</option>
                          <option value="Srikakulam">Srikakulam</option>
                          <option value="Sri Satyasai">Sri Satyasai</option>
                          <option value="Tirupati">Tirupati</option>
                          <option value="Vizianagaram">Vizianagaram</option>
                          <option value="Visakhapatnam">Visakhapatnam</option>
                          <option value="West Godavari">West Godavari</option>
                          <option value="YSR Kadapa">YSR Kadapa</option>
                  </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="AssemblyConstituency">Name of the Assembly Constituency <span style="color: red;">*</span></label>
                <select class="form-control custom-select" id="AssemblyConstituency" name="Assembly_Name">
                    <option selected disabled>0 selected</option>
                    <option value="Peddapuram">Peddapuram</option>
                          
                          <option value="Kadapa">Kadapa</option>
                          
                          <option value="Mummidivaram">Mummidivaram</option>
                          
                          <option value="Srisailam">Srisailam</option>
                          
                          <option value="Rayadurg">Rayadurg</option>
                          
                          <option value="Mantralayam">Mantralayam</option>
                          
                          <option value="Kondapi">Kondapi</option>
                          
                          <option value="Rajahmundry Rural">Rajahmundry Rural</option>
                          
                          <option value="Vijayawada Central">Vijayawada Central</option>
                          
                          <option value="Gudivada">Gudivada</option>
                          
                          <option value="Pedana">Pedana</option>
                          
                          <option value="Pamarru">Pamarru</option>
                          
                          <option value="Tiruvuru">Tiruvuru</option>
                          
                          <option value="Payakaraopet">Payakaraopet</option>
                          
                          <option value="Kothapeta">Kothapeta</option>
                          
                          <option value="Alur">Alur</option>
                          
                          <option value="Giddalur">Giddalur</option>
                          
                          <option value="Punganur">Punganur</option>
                          
                          <option value="Srungavarapukota">Srungavarapukota</option>
                          
                          <option value="Vizianagaram">Vizianagaram</option>
                          
                          <option value="Chodavaram">Chodavaram</option>
                          
                          <option value="Vinukonda">Vinukonda</option>
                          
                          <option value="Panyam">Panyam</option>
                          
                          <option value="Guntakal">Guntakal</option>
                          
                          <option value="Palakonda">Palakonda</option>
                          
                          <option value="Kurnool">Kurnool</option>
                          
                          <option value="Araku Valley">Araku Valley</option>
                          
                          <option value="Kuppam">Kuppam</option>
                          
                          <option value="Kaikalur">Kaikalur</option>
                          
                          <option value="Palakollu">Palakollu</option>
                          
                          <option value="Kovur">Kovur</option>
                          
                          <option value="Yemmiganur">Yemmiganur</option>
                          
                          <option value="Chandragiri">Chandragiri</option>
                          
                          <option value="Machilipatnam">Machilipatnam</option>
                          
                          <option value="Kalyandurg">Kalyandurg</option>
                          
                          <option value="Tadepalligudem">Tadepalligudem</option>
                          
                          <option value="Palamaner">Palamaner</option>
                          
                          <option value="Nellore Rural">Nellore Rural</option>
                          
                          <option value="Ongole">Ongole</option>
                          
                          <option value="Kandukur">Kandukur</option>
                          
                          <option value="Paderu">Paderu</option>
                          
                          <option value="Venkatagiri">Venkatagiri</option>
                          
                          <option value="Chilakaluripet">Chilakaluripet</option>
                          
                          <option value="Bhimavaram">Bhimavaram</option>
                          
                          <option value="Allagadda">Allagadda</option>
                          
                          <option value="Nandigama">Nandigama</option>
                          
                          <option value="Rajam">Rajam</option>
                          
                          <option value="Sarvepalli">Sarvepalli</option>
                          
                          <option value="Nidadavole">Nidadavole</option>
                          
                          <option value="Nuzvid">Nuzvid</option>
                          
                          <option value="Gudur">Gudur</option>
                          
                          <option value="Visakhapatnam North">Visakhapatnam North</option>
                          
                          <option value="Badvel">Badvel</option>
                          
                          <option value="Santhanuthalapadu">Santhanuthalapadu</option>
                          
                          <option value="Mylavaram">Mylavaram</option>
                          
                          <option value="Pendurthi">Pendurthi</option>
                          
                          <option value="Madugula">Madugula</option>
                          
                          <option value="Narasannapeta">Narasannapeta</option>
                          
                          <option value="Kamalapuram">Kamalapuram</option>
                          
                          <option value="Penukonda">Penukonda</option>
                          
                          <option value="Tadikonda">Tadikonda</option>
                          
                          <option value="Pedakurapadu">Pedakurapadu</option>
                          
                          <option value="Uravakonda">Uravakonda</option>
                          
                          <option value="Tekkali">Tekkali</option>
                          
                          <option value="Addanki">Addanki</option>
                          
                          <option value="Gajuwaka">Gajuwaka</option>
                          
                          <option value="Denduluru">Denduluru</option>
                          
                          <option value="Kodur">Kodur</option>
                          
                          <option value="Chirala">Chirala</option>
                          
                          <option value="Gopalapuram">Gopalapuram</option>
                          
                          <option value="Raptadu">Raptadu</option>
                          
                          <option value="Eluru">Eluru</option>
                          
                          <option value="Guntur East">Guntur East</option>
                          
                          <option value="Adoni">Adoni</option>
                          
                          <option value="Prathipadu">Prathipadu</option>
                          
                          <option value="Tenali">Tenali</option>
                          
                          <option value="Kanigiri">Kanigiri</option>
                          
                          <option value="Nandyal">Nandyal</option>
                          
                          <option value="Vijayawada West">Vijayawada West</option>
                          
                          <option value="Pulivendla">Pulivendla</option>
                          
                          <option value="Ramachandrapuram">Ramachandrapuram</option>
                          
                          <option value="Singanamala">Singanamala</option>
                          
                          <option value="Rajanagaram">Rajanagaram</option>
                          
                          <option value="Anantapur Urban">Anantapur Urban</option>
                          
                          <option value="Tirupati">Tirupati</option>
                          
                          <option value="Vemuru">Vemuru</option>
                          
                          <option value="Atmakur">Atmakur</option>
                          
                          <option value="Nellore City">Nellore City</option>
                          
                          <option value="Anaparthy">Anaparthy</option>
                          
                          <option value="Kodumur">Kodumur</option>
                          
                          <option value="Chittoor">Chittoor</option>
                          
                          <option value="Pithapuram">Pithapuram</option>
                          
                          <option value="Palasa">Palasa</option>
                          
                          <option value="Nandikotkur">Nandikotkur</option>
                          
                          <option value="Kakinada Rural">Kakinada Rural</option>
                          
                          <option value="Visakhapatnam East">Visakhapatnam East</option>
                          
                          <option value="Pathapatnam">Pathapatnam</option>
                          
                          <option value="Jaggayyapeta">Jaggayyapeta</option>
                          
                          <option value="Bapatla">Bapatla</option>
                          
                          <option value="Pileru">Pileru</option>
                          
                          <option value="Polavaram">Polavaram</option>
                          
                          <option value="Puthalapattu">Puthalapattu</option>
                          
                          <option value="Kovvur">Kovvur</option>
                          
                          <option value="Jammalamadugu">Jammalamadugu</option>
                          
                          <option value="Undi">Undi</option>
                          
                          <option value="Rajahmundry City">Rajahmundry City</option>
                          
                          <option value="Kavali">Kavali</option>
                          
                          <option value="Anakapalle">Anakapalle</option>
                          
                          <option value="Kadiri">Kadiri</option>
                          
                          <option value="Bobbili">Bobbili</option>
                          
                          <option value="Etcherla">Etcherla</option>
                          
                          <option value="Visakhapatnam West">Visakhapatnam West</option>
                          
                          <option value="Ponnuru">Ponnuru</option>
                          
                          <option value="Guntur West">Guntur West</option>
                          
                          <option value="Sathyavedu">Sathyavedu</option>
                          
                          <option value="Visakhapatnam South">Visakhapatnam South</option>
                          
                          <option value="Jaggampeta">Jaggampeta</option>
                          
                          <option value="Gannavaram">Gannavaram</option>
                          
                          <option value="Kurupam">Kurupam</option>
                          
                          <option value="Rayachoti">Rayachoti</option>
                          
                          <option value="Narasapuram">Narasapuram</option>
                          
                          <option value="Achanta">Achanta</option>
                          
                          <option value="Narsipatnam">Narsipatnam</option>
                          
                          <option value="Tanuku">Tanuku</option>
                          
                          <option value="Gurajala">Gurajala</option>
                          
                          <option value="Darsi">Darsi</option>
                          
                          <option value="Mydukur">Mydukur</option>
                          
                          <option value="Parchur">Parchur</option>
                          
                          <option value="Madanapalle">Madanapalle</option>
                          
                          <option value="Tadipatri">Tadipatri</option>
                          
                          <option value="Cheepurupalli">Cheepurupalli</option>
                          
                          <option value="Proddatur">Proddatur</option>
                          
                          <option value="Srikalahasti">Srikalahasti</option>
                          
                          <option value="Avanigadda">Avanigadda</option>
                          
                          <option value="Thamballapalle">Thamballapalle</option>
                          
                          <option value="Markapuram">Markapuram</option>
                          
                          <option value="Amalapuram">Amalapuram</option>
                          
                          <option value="Macherla">Macherla</option>
                          
                          <option value="Razole">Razole</option>
                          
                          <option value="Banaganapalle">Banaganapalle</option>
                          
                          <option value="Vijayawada East">Vijayawada East</option>
                          
                          <option value="Hindupur">Hindupur</option>
                          
                          <option value="Penamaluru">Penamaluru</option>
                          
                          <option value="Narasaraopet">Narasaraopet</option>
                          
                          <option value="Gangadhara Nellore">Gangadhara Nellore</option>
                          
                          <option value="Parvathipuram">Parvathipuram</option>
                          
                          <option value="Kakinada City">Kakinada City</option>
                          
                          <option value="Dharmavaram">Dharmavaram</option>
                          
                          <option value="Elamanchili">Elamanchili</option>
                          
                          <option value="Nagari">Nagari</option>
                          
                          <option value="Unguturu">Unguturu</option>
                          
                          <option value="Puttaparthi">Puttaparthi</option>
                          
                          <option value="Ichchapuram">Ichchapuram</option>
                          
                          <option value="Gajapathinagaram">Gajapathinagaram</option>
                          
                          <option value="Mandapeta">Mandapeta</option>
                          
                          <option value="Chintalapudi">Chintalapudi</option>
                          
                          <option value="Yerragondapalem">Yerragondapalem</option>
                          
                          <option value="Bhimili">Bhimili</option>
                          
                          <option value="Madakasira">Madakasira</option>
                          
                          <option value="Udayagiri">Udayagiri</option>
                          
                          <option value="Pattikonda">Pattikonda</option>
                          
                          <option value="Rajampet">Rajampet</option>
                          
                          <option value="Dhone">Dhone</option>
                          
                          <option value="Repalle">Repalle</option>
                          
                          <option value="Sullurpeta">Sullurpeta</option>
                          
                          <option value="Sattenapalle">Sattenapalle</option>
                          
                          <option value="Mangalagiri">Mangalagiri</option>
                          
                          <option value="Srikakulam">Srikakulam</option>
                          
                          <option value="Salur">Salur</option>
                          
                          <option value="Nellimarla">Nellimarla</option>
                          
                          <option value="Amadalavalasa">Amadalavalasa</option>
                          
                          <option value="Rampachodavaram">Rampachodavaram</option>
                          
                          <option value="Tuni">Tuni</option>
                  </select>
              </div>
             <div class="col-md-4 mb-3">
                <label for="Mandal">Name of the Mandal <span style="color: red;">*</span></label>
                <select id="mandals" name="mandals" class="form-control custom-select">
                    <option selected disabled>Choose..</option>
                    <option value="Natnavaram">Nathnavaram</option>
                    <option value="Nakkapalli">Nakkapalli</option>
                    <option value="KKotapadu">KKotapadu</option>
                    <option value="Kotauratla">Kotauratla</option>
                    <option value="Cheedikada">Cheedikada</option>
                    <option value="Anakapalli">Anakapalli</option>
                    <option value="S Rayavaram">S Rayavaram</option>
                    <option value="Yelamanchili">Yelamanchili</option>
                    <option value="Butchayyapeta">Butchayyapeta</option>
                    <option value="Atchuthapuram">Atchuthapuram</option>
                    <option value="Sabbavaram">Sabbavaram</option>
                    <option value="Makavarapalem">Makavarapalem</option>
                    <option value="Madugula">Madugula</option>
                    <option value="Paravada">Paravada</option>
                    <option value="Chodavaram">Chodavaram</option>
                    <option value="Golugonda">Golugonda</option>
                    <option value="Ravikamatham">Ravikamatham</option>
                    <option value="Rolugunta">Rolugunta</option>
                    <option value="Devarapalli">Devarapalli</option>
                    <option value="Kasimkota">Kasimkota</option>
                    <option value="Rambilli">Rambilli</option>
                    <option value="Munagapaka">Munagapaka</option>
                    <option value="Payakaraopeta">Payakaraopeta</option>
                    <option value="Narsipatnam">Narsipatnam</option>
                  </select>
              </div>
             </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Name of the Village <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Name_village" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Name of Hamlet,Colony <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Name_Hamlet" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Latitude of the location <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Latitude_location" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Longitude of the location <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Longitude_location" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Population of the Village/ Hamlet/ Colony <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Population" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Specify if the proposed location is SC/ST/Fisherman colony <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Name of individual/Temple etc., who made the request <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Name_individual" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Name of the Temple proposed to be constructed  <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Name_Templeproposed" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Email Address <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Email_Address" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Phone number <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Phone_number" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Documents of requestee  <span style="color: red;">*</span></label>
                        <input type="file" class="form-control" id="Documents_requestee" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Extent of land available for the purpose <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Extent_land" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Title of the land vests with ( Name of the individual/Govt./Temple etc.,)  <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Title_land" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Survey No.  <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="Survey_No" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Boundaries - East, South,West,North </label>
                        <input type="text" class="form-control" id="Boundaries" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Whether acceptance given for donating the land in favour of the proposed New Temple </label>
                        <input type="text" class="form-control" id="Whether_acceptance" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Details of financial support received from TTD </label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Any earlier for the said temple  </label>
                        <input type="text" class="form-control" id="Details_financial" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Details of other temples available in the vicinity </label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Details of temples available in the nearby villages with approximate distance </label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Details of villages covered if the proposal is accepted </label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Amount in Rs. Proposed to be contribute by the locals if any</label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Contribution proposed by the locals if any - (not amount)</label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Email of the contact person </label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Particulars of the contact person <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Phone number of Contact <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name1">Recommendation of the Inspecting Officer </label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                </div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name2">Other relevant issues, if any</label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Field_Name3">Additional Comments</label>
                        <input type="text" class="form-control" id="" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Submit</button>
                <button type="reset" id="clearButton">Clear</button>
              </div>  
          </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    var role = getCookie("role");
    $("#linka, #linkb, #linkc, #linkd, #logout").hide();
    if (!role) {
        window.location.href = "/";
    } else if (role === "admin") {
        $("#linka, #linkb, #linkc, #linkd, #logout").show();
    } else if (role === "editor") {
        $("#linkc, #linkd, #logout").show();
    } else if (role === "user") {
        $("#linka, #linkb, #logout").show();
    } else if (role === "agency") {
        $("#linkd, #logout").show();
    }

    if (role === "editor" && !["/users", "/Reports"].includes(window.location.pathname)) {
        window.location.href = "/users"; 
    } else if (role === "agency") {
        window.location.href = "/Reports";
    }
    
});
document.addEventListener('DOMContentLoaded', function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        document.getElementById('current-date').textContent = today;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>