<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Users</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/Static/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="header">
    <img src="/Static/images/TTD-Logo.png">
    <a href="/Landingpage" id="linka" >Bhajanamandiram</a>
    <a href="/Newtemple" id="linkb">New Temple Construction</a>
    <a href="/users" id="linkc" >Users</a>
    <a href="/Reports" id="linkd" >Reports</a>
    <a href="/" id="logout" class="logout-link nav-link p-2">
        <img src="/Static/images/Logout-image.png" alt="Log Out" />
    </a>
</div>
  <div id="maindiv" class="container-fluid">
    <h2 class="pageheader" style="text-align: center; color: #a3000e; padding-top: 30px;padding-bottom: 20px; font-weight: 700;">Users</h2>
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="float-left">User Details</h4>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addUserModal">Add New User</button>
            </div>
          <div class="card-body">
            <table id="usersTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone No.</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addUserForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required>

            </div>
            <div class="form-group">
              <label for="phone">Phone No.</label>
              <input type="tel" class="form-control" id="phone" required>
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password </label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <select class="form-control" id="role" required>
                <option value="admin">Admin</option>
                <option value="editor">Editor</option>
                <option value="viewer">Viewer</option>
                <option value="viewer">Agency</option>
                
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/Static/scripts/users.js"></script>
  <script>

    $(document).ready(async function () {
        $("#linka, #linkb, #linkc, #linkd, #logout").hide();
        var role = getCookie("role");        

        if (role === undefined) {
            window.location.href = "/";
        }
        if (role === "admin") {
            $("#linka, #linkb, #linkc, #linkd, #logout").show();
        } else if (role === "editor") {
            $("#linkc, #linkd, #logout").show();
        } else if (role === "user") {
            $("#linka, #linkb, #logout").show();
        } else if (role === "agency") {
            $("#linkd, #logout").show();
        }
                function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
}
    });
</script>
</body>
</html>